* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: rgb(10, 8, 8);
  color: #fff;
  padding: 5px;
}

/* --------------------------------------------- */
/* body {
  padding: 20px;
  background-color: #ffffff;
} */

.btn__start {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  color: #fff;
  background-color: #222121;
  transition: background-color .5s ease-in-out;
  color: .5s ease-in-out;
}

.btn__start:hover {
  background-color: #ffffff;
  color: #000;
}


.card__student {
  max-width: 200px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #a7a7a7;
  border-radius: 20px;

}

h2 {
  font-size: calc(2.325rem + .9vw);
}

.down {
  order: 20;
}

.list-group {
  gap: 10px;
}

.nav {
  color: #fff;
}

.nav-link {
  font-size: 20px;
  color: #ffffff;

}

@media(max-width: 496px) {

  h2 {
    text-align: center;
  }

  .input-group-append,
  .btn {
    width: 100%;
  }

  .nav{
    flex-direction: column;
  }

  .list-group-item{
    padding-right: 2px;
  }
  .btn-group {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

}
